body {
    padding:0;
    margin:0;
    font-family: sans-serif;
    font-size: 1.25rem;
    height: 100vh;
    overflow: hidden;
    background: url('../confectionary.png') repeat;
    flex-direction: column;
}

noscript {
    width:100vw;
    height:100vh;
    z-index:10;
    position:absolute;
    top:0;
    left:0;
}
noscript > div {
    height:100%;
    background-color:white;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 10px;
    margin-top: 0;
}

#error, #success {
    margin-top: 20px;
    animation: fadeOut 1s ease;
    transition: all 1s ease;
    opacity:0;
    width: 80vw;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    display: none;
    text-align: center;
}

#error {
    background: #dd3142;
    color: #ffffff;
}

#success {
    background: #1ddb99;
}

.fade {
    display: block !important;
    animation: fadeIn 1s ease forwards !important;
}

#machine {
    background-color: #28abe5;
    margin-top: 20px;
    padding: 20px;
    border-radius: 25px;
    flex-direction: column;
    position: relative;
    box-shadow: inset 0 0 50px rgba(0,0,0,0.3);
}

#info {
    display: flex;
    flex-direction: row;
}

#pseudo input, #points {
    background-color: #f5ebc8;
    border-radius: 5px;
    border:0;
    padding: 5px;
    margin: 15px;
    font-size: 30px;
    text-align: center;
}

#pseudo input {
    width: 275px;
}

#credits {
    border-radius: 5px;
    border:0;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    text-align: center;
    margin-left: 40px;
}

#slots {
    display: flex;
    flex-direction: row;
}

.slot {
    background-color: #f5ebc8;
    height: 100px;
    overflow: hidden;
    padding: 15px;
    margin: 20px;
    border-radius: 15px;
}

.slot:nth-child(2) .item{
    animation-delay: 1000ms;
}

.slot:nth-child(3) .item {
    animation-delay: 500ms;
}

.slot:last-child .item {
    animation-delay: 1500ms;
}

.slot .rotation {
    animation: rotation 750ms linear infinite;
}

.slot .vpique {
    animation: rotation_pique 1s ease forwards;
}

.slot .vcoeur {
    animation: rotation_coeur 1s ease forwards;
}

.slot .vcarreau {
    animation: rotation_carreau 1s ease forwards;
}

.slot .vtrefle {
    animation: rotation_trefle 1s ease forwards;
}

.item {
    font-size: 100px;
    text-align: center;
    line-height: 100px;
    transition: all 1s linear;
    transform-origin: 30% 30%;
    transform-style: preserve-3d;
}

.carreau, .coeur {
    color: #dd3142;
}

#buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

#reinit, #resetHighscores {
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
}

#reinit {
    background: #28abe5;
    margin-right: 20px;
}

#resetHighscores {
    background: #dd3142;
}

#bras {
    position: absolute;
    width: 110px;
    height: 280px;
    top: -10%;
    left:92%;
    transform-style: preserve-3d;
    transform-origin: bottom;
    cursor: pointer;
}

.bras-active {
    animation: tire_bras 1s linear;
}

#manche {
    position: absolute;
    width: 40%;
    height: 300px;
    background-color: #e8b61c;
    border-radius: 50px;
    top:0;
    left: calc(50% - 25px);
    box-shadow: inset 0 0 15px rgba(0,0,0,0.3);
}

#poignee {
    position: absolute;
    width: 110px;
    height: 110px;
    background-color: #dd3142;
    border-radius: 50%;
    background: radial-gradient(circle at 40px 40px, #dd3142, #444 140%);
}

#highscores {
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    background: #1ddb99;
    padding: 20px;
    border-radius: 25px;
    max-width: 95vw;
    box-shadow: inset 0 0 50px rgba(0,0,0,0.3);
}

#highscores h3 {
    margin: 0;
}

#highscores table {
    background: #f5ebc8;
    border-radius: 15px;
    max-width: 90vw;
    overflow: auto;
}

#highscores table::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#highscores table::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
    border-radius: 10px;
}

#highscores table::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #E8B61C;
}

#highscores table, #highscores tbody {
    display: flex;
    flex-direction: row;
    line-height: 20px;
}

#highscores tbody {
    padding: 5px;
}

#highscores tr {
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    margin-right: 10px;
    padding-right: 10px;
}

#highscores tr:last-child {
    border:0;
    margin-right:0;
    padding-right:0;
}

#highscores tr th {
    text-align: left;
    min-width: 250px;
}

#highscores tr th, #highscores tr td {
    padding: 5px 5px;
}
